<launch>
	<!-- Arguments for CAN ports -->
	<arg name="left_can_port" default="can_left" />
	<arg name="right_can_port" default="can_right" />
	<arg name="auto_enable" default="true" />

	<!-- Arguments for paddle (damiao) -->
	<arg name="enable_paddle" default="true" />
	<arg name="enable_paddle_haptic" default="true" />

	<!-- Arguments for dual-arm -->
	<arg name="enable_dual_arm" default="true" />
	<arg name="gripper_val_mutiple" default="2" />
	<arg name="girpper_exist" default="true" />
	<arg name="enable_gravity_compensation" default="true" />

	<!-- Setup robot_description for joint_state_publisher_gui if needed -->
	<param name="robot_description" textfile="$(find piper_description)/urdf/piper_description.xacro" />

	<!-- Launch paddle (damiao) node -->
	<group if="$(arg enable_paddle)">
		<!-- Use external paddle_haptic.yaml when haptic is enabled -->
		<include file="$(find dm_controllers)/launch/load_dm_hw.launch" if="$(arg enable_paddle_haptic)">
			<arg name="haptic_config" value="$(find teleop_setup)/config/paddle_haptic.yaml" />
		</include>
		<!-- Use default haptic.yaml when haptic is disabled -->
		<include file="$(find dm_controllers)/launch/load_dm_hw.launch" unless="$(arg enable_paddle_haptic)" />

		<group if="$(arg enable_paddle_haptic)">
			<node name="paddle_haptic_client" pkg="teleop_setup" type="paddle_haptic_client.py" output="screen">
				<rosparam file="$(find teleop_setup)/config/paddle_haptic.yaml" command="load" />
			</node>
		</group>
	</group>

	<!-- Launch dual-arm teleop node -->
	<group if="$(arg enable_dual_arm)">
		<include file="$(find piper_ctrl)/launch/piper_dual_teleop.launch">
			<!-- <arg name="left_can_port" value="$(arg left_can_port)" />
			<arg name="right_can_port" value="$(arg right_can_port)" />
			<arg name="robot_prefix_left" value="/robot/arm_left/" />
			<arg name="robot_prefix_right" value="/robot/arm_right/" />
			<arg name="teleop_prefix_left" value="/teleop/arm_left/" />
			<arg name="teleop_prefix_right" value="/teleop/arm_right/" /> -->
		</include>
	</group>

	<!-- Launch gravity compensation node -->
	<group if="$(arg enable_gravity_compensation)">
		<node name="piper_gravity_compensation_node" pkg="piper_ctrl" type="piper_gravity_compensation_node.py"
			output="screen">
		</node>
	</group>
</launch>