<launch>
    <!-- Arguments for CAN ports -->
    <arg name="ranger_can_port" default="can0" />
    <arg name="left_can_port" default="can_left" />
    <arg name="right_can_port" default="can_right" />

    <!-- Arguments for dual-arm control -->
    <arg name="enable_dual_arm" default="true" />
    <arg name="auto_enable" default="true" />
    <arg name="gripper_val_mutiple" default="2" />
    <arg name="girpper_exist" default="true" />

    <arg name="mit_kp_left" default="10.0" />
    <arg name="mit_kd_left" default="0.8" />
    <arg name="mit_kp_right" default="10.0" />
    <arg name="mit_kd_right" default="0.8" />
    <arg name="torque_scale" default="1.0" />

    <!-- Setup robot_description for joint_state_publisher_gui if needed -->
    <param name="robot_description" textfile="$(find piper_description)/urdf/piper_description.xacro" />

    <!-- Launch dual-arm control node -->
    <node name="piper_dual_mit_ctrl_test_node" pkg="piper_bridge" type="piper_dual_mit_ctrl_test_node.py" output="screen">
        <param name="left_can_port" value="$(arg left_can_port)" />
        <param name="right_can_port" value="$(arg right_can_port)" />
        <param name="auto_enable" value="$(arg auto_enable)" />
        <param name="gripper_val_mutiple" value="$(arg gripper_val_mutiple)" />
        <param name="girpper_exist" value="$(arg girpper_exist)" />
        <param name="mit_kp_left" value="$(arg mit_kp_left)" />
        <param name="mit_kd_left" value="$(arg mit_kd_left)" />
        <param name="mit_kp_right" value="$(arg mit_kp_right)" />
        <param name="mit_kd_right" value="$(arg mit_kd_right)" />
        <param name="torque_scale" value="$(arg torque_scale)" />
    </node>
    
</launch>
