<launch>
    <!-- Arguments for CAN ports -->
    <arg name="ranger_can_port" default="can0" />
    <arg name="left_can_port" default="can_left" />
    <arg name="right_can_port" default="can_right" />

    <!-- Arguments for ranger -->
    <arg name="enable_ranger" default="true" />
    <arg name="ranger_model" default="ranger_mini_v2" />
    <arg name="ranger_odom_frame" default="odom" />
    <arg name="ranger_base_frame" default="base_link" />
    <arg name="ranger_update_rate" default="50" />
    <arg name="ranger_odom_topic_name" default="odom" />
    <arg name="ranger_publish_odom_tf" default="false" />

    <!-- Arguments for paddle2ranger -->
    <arg name="enable_paddle2ranger" default="true" />

    <!-- Arguments for dual-arm control -->
    <arg name="enable_dual_arm" default="true" />
    <arg name="auto_enable" default="true" />
    <arg name="gripper_val_mutiple" default="2" />
    <arg name="girpper_exist" default="true" />

    <!-- Arguments for cameras -->
    <arg name="enable_cameras" default="true" />
    <arg name="camera_left_usb_port" default="2-1" />
    <arg name="camera_right_usb_port" default="2-8" />
    <arg name="camera_top_usb_port" default="2-2" />
    <arg name="enable_rviz" default="true" />

    <!-- Setup robot_description for joint_state_publisher_gui if needed -->
    <param name="robot_description" textfile="$(find piper_description)/urdf/piper_description.xacro" />

    <!-- Launch ranger control node -->
    <group if="$(arg enable_ranger)">
        <include file="$(find ranger_bringup)/launch/ranger_mini_v2.launch">
            <arg name="port_name" value="$(arg ranger_can_port)" />
            <arg name="robot_model" value="$(arg ranger_model)" />
            <arg name="odom_frame" value="$(arg ranger_odom_frame)" />
            <arg name="base_frame" value="$(arg ranger_base_frame)" />
            <arg name="update_rate" value="$(arg ranger_update_rate)" />
            <arg name="odom_topic_name" value="$(arg ranger_odom_topic_name)" />
            <arg name="publish_odom_tf" value="$(arg ranger_publish_odom_tf)" />
        </include>
    </group>

    <!-- Launch paddle2ranger node -->
    <group if="$(arg enable_paddle2ranger)">
        <rosparam file="$(find bridge)/config/paddle.yaml" command="load" ns="ranger_teleop_to_robot_paddle_node" />
        <node name="ranger_teleop_to_robot_paddle_node" pkg="bridge" type="ranger_teleop_to_robot_paddle.py"
            output="screen">
        </node>
    </group>

    <!-- Launch dual-arm control node -->
    <group if="$(arg enable_dual_arm)">
        <include file="$(find piper_ctrl)/launch/piper_dual_robot.launch">
            <arg name="left_can_port" value="$(arg left_can_port)" />
            <arg name="right_can_port" value="$(arg right_can_port)" />
            <arg name="robot_prefix_left" value="/robot/arm_left/" />
            <arg name="robot_prefix_right" value="/robot/arm_right/" />
            <arg name="teleop_prefix_left" value="/teleop/arm_left/" />
            <arg name="teleop_prefix_right" value="/teleop/arm_right/" />
        </include>
    </group>

    <!-- Launch cameras -->
    <group if="$(arg enable_cameras)">
        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="camera" value="realsense_left" />
            <arg name="usb_port_id" value="$(arg camera_left_usb_port)" />
            <arg name="enable_color" value="true" />
            <arg name="enable_depth" value="true" />
            <arg name="enable_sync" value="true" />
            <arg name="align_depth" value="true" />
            <arg name="color_width" value="1280" />
            <arg name="color_height" value="720" />
            <arg name="color_fps" value="30" />
            <arg name="depth_width" value="1280" />
            <arg name="depth_height" value="720" />
            <arg name="depth_fps" value="30" />
            <arg name="publish_tf" value="true" />
            <arg name="tf_prefix" value="realsense_left" />
        </include>

        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="camera" value="realsense_right" />
            <arg name="usb_port_id" value="$(arg camera_right_usb_port)" />
            <arg name="enable_color" value="true" />
            <arg name="enable_depth" value="true" />
            <arg name="enable_sync" value="true" />
            <arg name="align_depth" value="true" />
            <arg name="color_width" value="1280" />
            <arg name="color_height" value="720" />
            <arg name="color_fps" value="30" />
            <arg name="depth_width" value="1280" />
            <arg name="depth_height" value="720" />
            <arg name="depth_fps" value="30" />
            <arg name="publish_tf" value="true" />
            <arg name="tf_prefix" value="realsense_right" />
        </include>

        <include file="$(find realsense2_camera)/launch/rs_camera.launch">
            <arg name="camera" value="realsense_top" />
            <arg name="usb_port_id" value="$(arg camera_top_usb_port)" />
            <arg name="enable_color" value="true" />
            <arg name="enable_depth" value="true" />
            <arg name="enable_sync" value="true" />
            <arg name="align_depth" value="true" />
            <arg name="enable_gyro" value="true" />
            <arg name="enable_accel" value="true" />
            <arg name="color_width" value="1280" />
            <arg name="color_height" value="720" />
            <arg name="color_fps" value="30" />
            <arg name="depth_width" value="1280" />
            <arg name="depth_height" value="720" />
            <arg name="depth_fps" value="30" />
            <arg name="gyro_fps" value="400" />
            <arg name="accel_fps" value="250" />
            <arg name="publish_tf" value="true" />
            <arg name="tf_prefix" value="realsense_top" />
        </include>
    </group>

    <!-- Launch rviz -->
    <group if="$(arg enable_rviz)">
        <node name="rviz" pkg="rviz" type="rviz" args="-d $(find robot_setup)/rviz/dual_basic.rviz" output="screen" />
    </group>
</launch>